<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!-- Import Materialize CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
<!-- Import Font Wesome -->
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
	rel="stylesheet" />
	<!-- icon -->
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="../static/img/favicon.ico" th:href="@{../img/favicon.ico}" />
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico" th:href="@{../img/favicon.ico}" />
    <link rel="apple-touch-icon" sizes="180x180" href="../static/img/favicon.ico" th:href="@{../img/favicon.ico}" />
	<link rel="stylesheet" th:href="@{../../css/common.css}" />
	<link rel="stylesheet" th:href="@{../../css/item_list.css}" />
	<link rel="stylesheet" th:href="@{../../css/header.css}" />
	<link rel="stylesheet" th:href="@{../../css/footer.css}" />

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>SORRY | らくらく浴衣</title>
</head>
<body>
	<header>
		<div th:insert="top :: frag_header"></div>
	</header>
	<div class="item-wrapper top-wrapper">
		<h1>SORRY</h1>
		<h3>ご指定のページは開けません</h3>
		<div>現在メンテナンス中のため ページを表示することが出来ませんでした</div>
		<div>時間をおいてから再度アクセスしてください</div>
		<br>
		<br>
		<form th:action="@{/yukata/top}">
			<button class="btn red lighten-3" >トップページに戻る</button>
		</form>
	</div>
	<footer>
		<div th:insert="top :: frag_footer"></div>
	</footer>
</body>
</html>

