<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <!-- Import Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <!-- Import Font Wesome -->
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet" />
  <!-- icon -->
  <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="../static/img/favicon.ico"
    th:href="@{../img/favicon.ico}" />
  <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico" th:href="@{../img/favicon.ico}" />
  <link rel="apple-touch-icon" sizes="180x180" href="../static/img/favicon.ico" th:href="@{../img/favicon.ico}" />
  <link rel="stylesheet" th:href="@{../css/common.css}" />
  <link rel="stylesheet" th:href="@{../css/header.css}" />
  <link rel="stylesheet" th:href="@{../css/footer.css}" />
  <link rel="stylesheet" th:href="@{../css/register_admin.css}" />
  <link rel="stylesheet" th:href="@{../css/login.css}" />
  <link rel="stylesheet" th:href="@{../css/item_list.css}" />
  <link rel="stylesheet" th:href="@{../css/item_detail.css}" />
  <link rel="stylesheet" th:href="@{../css/cart_list.css}" />
  <link rel="stylesheet" th:href="@{../css/order_confirm.css}" />
  <link rel="stylesheet" th:href="@{../css/order_finished.css}" />
  <link rel="stylesheet" th:href="@{../css/responsive.css}" />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>注文履歴 | らくらく浴衣</title>
</head>

<body>
  <header>
    <div th:insert="top :: frag_header"></div>
  </header>


  <div class="top-wrapper">
    <div class="container">
      <h1 class="page-title">注文履歴確認画面</h1>


      <div class="row cart-total-price">
        <div>注文履歴がありません。</div>

      </div>

    </div>
    <!-- end container -->
  </div>
  <!-- end top-wrapper -->

  <!-- ▼ フッターをインクルード。フッターを修正したい場合は、top.htmlを修正ください ▼ -->
  <footer>
    <div th:insert="top :: frag_footer"></div>
  </footer>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>

</html>
